<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Target Customer</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
    <section class="container-box">
        <h1>Empresas cadastradas</h1>
        <div th:each="cadastro : ${cadastros}" class="container-list">
            <h3 th:text="'CNPJ:' + ${cadastro.getCnpj()}"></h3>
            <h3 th:text="'Razão Social:' + ${cadastro.getRazaoSocial()}"></h3>

            <section>
                <h3>E-mails cadastrados</h3>
                <div th:each="email : ${cadastro.getEmailEmpresas()}" class="container-list">
                    <p th:text="${email.getEmail()}"></p><br>
                </div>
            </section>

            <section>
                <h3>CEPs cadastrados</h3>
                <div th:each="endereco : ${cadastro.getEnderecosEmpresas()}" class="container-list">
                    <p th:text="${endereco.getCep()}"></p><br>
                </div>
            </section>

            <section>
                <h3>Telefones cadastrados</h3>
                <div th:each="telefone : ${cadastro.getTelefonesEmpresas()}" class="container-list">
                    <p th:text="${telefone.getTelefoneCompleto()}"></p><br>
                </div>
            </section>


            <div class="container-action">
                <form th:action="@{/cadastros/delete/{id}(id=${cadastro.getId()})}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este cadastro?');" class="exclude-button">Excluir</button>
                </form>

                <div>
                    <a th:href="@{/cadastros/edit/{id}(id=${cadastro.getId()})}" class="edit-button">Editar</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>