<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Empresas cadastradas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
    <section class="container-box">
        <h1>Empresas cadastradas</h1>
        <div class="container-menu">
            <a class="main-button-back" th:href="@{/}">
                <p>Menu principal</p>
            </a>
            <a class="main-button-back" th:href="@{/cadastros/create}">
                <p>Nova empresa</p>
            </a>
        </div>
        <div class="container-list">
            <div th:each="cadastro : ${cadastros}" class="container-content">
                <h3 th:text="'CNPJ: ' + ${cadastro.getCnpj()}"></h3>
                <h3>Razão Social</h3>
                <p th:text="${cadastro.getRazaoSocial()}"></p><br>

                <div>
                    <h3>E-mails cadastrados</h3>
                    <div th:each="email : ${cadastro.getEmailEmpresas()}">
                        <p th:text="${email.getEmail()}"></p><br>
                    </div>
                </div>

                <div>
                    <h3>CEPs cadastrados</h3>
                    <div th:each="endereco : ${cadastro.getEnderecosEmpresas()}">
                        <p th:text="${endereco.getCep()}"></p><br>
                    </div>
                </div>

                <div>
                    <h3>Telefones cadastrados</h3>
                    <div th:each="telefone : ${cadastro.getTelefonesEmpresas()}">
                        <p th:text="${telefone.getTelefoneCompleto()}"></p><br>
                    </div>
                </div>


                <div class="content-action">
                    <div class="edit-button">
                        <a th:href="@{/cadastros/edit/{id}(id=${cadastro.getId()})}">Editar</a>
                    </div>
                    <form th:action="@{/cadastros/delete/{id}(id=${cadastro.getId()})}" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este cadastro?');" class="exclude-button">Excluir</button>
                    </form>
                </div>
            </div>

        </div>
    </section>
</body>
</html>