<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Consultas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
    <section class="container-box">
        <h1>Consultas</h1>
        <div class="container-list">
            <a class="main-button-back" th:href="@{/cadastros}">
                <p>Retornar</p>
            </a>
            <div th:each="consulta : ${consultas}" class="container-content">
                <h3>Descrição</h3>
                <p th:text="${consulta.getDescricaoConsulta()}"></p><br>

                <h3>Data da consulta</h3>
                <p th:text="${#temporals.format(consulta.getDataConsulta(), 'dd-MM-yyyy HH:mm')}"></p>

                <h3>Empresa</h3>
                <p th:text="${consulta.getCadastro().getRazaoSocial()}"></p><br>

                <div class="content-action">
                    <div class="edit-button">
                        <a href="#">Analisar</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>