<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Target Customer</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
    <div class="container-box">
        <img th:src="@{/img/tc-logo.png}" height="250" width="250"/>
        <h3>Bem vindo ao Target Customer, sua plataforma de análise e consultoria de dados.</h3>

        <a class="main-button" th:href="@{/cadastros/create}">
            <p>Nova empresa</p>
        </a>

        <a class="main-button" th:href="@{/consultas/create}">
            <p>Nova consulta</p>
        </a>

        <a class="main-button" th:href="@{/consultas}">
            <p>Consultas</p>
        </a>

        <a class="main-button" th:href="@{/cadastros}">
            <p>Empresas</p>
        </a>

        <a class="main-button" th:href="@{/logout}">
            <p>Logout</p>
        </a>
    </div>
</body>
</html>