<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Target Customer</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body class="body-index">
        <div class="container-index">
            <a class="custom-button" href="/new-cadastro">
                Novo Cadastro
            </a>

            <a class="custom-button" href="/new-cadastro">
                Novo Cadastro
            </a>

            <a class="custom-button" th:href="@{/consultas}">
                <p>Consultas</p>
            </a>

            <a class="custom-button" th:href="@{/cadastros}">
                <p>Cadastros</p>
            </a>
        </div>
    </body>
</html>