<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
    <section class="container-box">
        <form action="/user/login" method="post">
            <h1>Login</h1>
            <div class="error-message-box">
                <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-center redText"></label>
            </div>
            <div class="input-text">
                <input type="email" name="username" id="username" required>
                <label for="username">E-mail de Usuário</label>
            </div>
            <div class="input-text">
                <input type="password" name="password" id="password" required>
                <label for="password">Senha</label>
            </div>
            <div class="register">
                <a href="#"><p>Esqueceu sua senha?</p></a>
            </div>
            <button>Log in</button>
            <div class="register">
                <p>Não possui uma conta ?</p>
                <a href="/user/cadastrar"> Cadastre-se</a>
            </div>
        </form>
    </section>
</body>