* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: Arial, sans-serif;
}

.body-index {
    align-items: center;
    height: 100vh;
}

.register {

}

.container-box {

}

.container-list {

}

.container-content {

}

.content-action {

}

.exclude-button {

}

.edit-button {

}

.form-box {

}

.form-row {

}

.form-cell {

}

.label-new {

}

.input-field {

}

.input-field-box {

}

.error-message-box {
    color: red;
    font-size: 0.8em;
    margin-top: 2px;
}