* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: Arial, sans-serif;
}

.container-box {

}

.container-list {

}

.container-action {

}

.exclude-button {

}

.edit-button {

}

.message-box {

}

.input-text {

}

.form-new {

}

.input-new {

}

.laabel-new {

}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 2px;
}